<ng-container *ngIf="login">
  <header>
    <!-- Línea azul claro en la parte superior -->
    <div class="bg-blue-100 border-b border-blue-300 py-2">
      <div class="container mx-auto flex items-center justify-between">
        <!-- Logo y hora/fecha -->
        <div class="flex items-center m">
          <svg
            class="h-6 w-6 text-gray-500 mr-1"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
          <div>
            <p class="text-sm font-bold">{{ date }}</p>
          </div>
        </div>

        <!-- Mensaje de bienvenida, icono de usuario y dropdown -->
        <div class="flex items-center">
          <svg
            class="h-8 w-8 text-blue-500"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
            <circle cx="12" cy="7" r="4" />
          </svg>
          <div ngbDropdown class="d-inline-block ml-1">
            <!-- Botón del dropdown con el icono de usuario -->
            <button
              type="button"
              class=""
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              <span class="text-sm mr-2">Bienvenido(a): {{ name }}</span>
            </button>
            <!-- Opciones del dropdown para el usuario -->
            <div
              ngbDropdownMenu
              aria-labelledby="dropdownBasic1"
              class="bg-blue-100"
            >
              <!-- Aquí puedes agregar las opciones del dropdown para el usuario -->
              <button
                class="hover:bg-blue-500 hover:text-white"
                ngbDropdownItem
                (click)="viewProfile()"
              >
                Perfil
              </button>
              <button
                class="hover:bg-blue-500 hover:text-white"
                ngbDropdownItem
                (click)="logout()"
              >
                Cerrar sesión
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Fondo blanco con imagen y texto -->
    <div class="bg-white py-4">
      <div class="container mx-auto flex items-center justify-between">
        <!-- Imagen a la izquierda -->
        <img
          src="../../../../../assets/images/facultad_ingenierias.png.jpg"
          alt="Imagen"
          style="height: 5.9rem"
        />
        <!-- Texto a la derecha -->
        <div>
          <p class="text-4xl line-height-10">CoordiSalasUC</p>
          <div class="text-blue-700 flex">
            <p class="font-bold mr-2">Linea</p>
            <span class="mr-2">Coordisalas</span>
            <p class="font-bold">(606) 3103653454</p>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-blue-600 text-white py-2">
      <div class="container mx-auto flex items-center justify-between">
        <div class="flex items-center space-x-4 flex-1">
          <button class="text-sm flex-1" [routerLink]="'/inicio'">
            Inicio
          </button>
          <ng-container *ngIf="isAdmin">
          <div class="border-l border-white h-6"></div>
          <div  class="relative group flex-1" [routerLink]="'/usuarios'">
            <button class="text-sm group-hover:bg-blue-700">Usuarios</button>
          </div>
        </ng-container>
        <ng-container>
          <div class="border-l border-white h-6"></div>
          <div class="relative group flex-1" [routerLink]="'/salas'">
            <button class="text-sm group-hover:bg-blue-700">Aulas</button>
          </div>
        </ng-container>
        <ng-container>
          <div class="border-l border-white h-6"></div>
          <div class="relative group flex-1" [routerLink]="'/inicio'">
            <button class="text-sm group-hover:bg-blue-700">Horarios</button>
          </div>
        </ng-container>
        <ng-container *ngIf="isAdmin">
          <div class="border-l border-white h-6"></div>
          <div  class="relative group flex-1" [routerLink]="'/reservas'">
            <button class="text-sm group-hover:bg-blue-700">Reservas</button>
          </div>
        </ng-container>
        </div>
      </div>
    </div>
  </header>
</ng-container>
