<div class="container mx-auto my-4 flex flex-col items-center">
  <h2 class="text-2xl dark:text-white">Lista de Solicitudes pendientes</h2>
  <div class="flex mb-3 w-9/12 justify-between">
    <div class="relative w-1/4">
      <div class="input-group">
        <span class="input-group-text">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
        </span>
        <input
          type="text"
          class="form-control"
          placeholder="Buscar"
          [(ngModel)]="searchTerm"
          (input)="applyFilter()"
        />
      </div>
    </div>
  </div>
  <table class="table table-bordered table-fixed w-9/12">
    <thead>
      <tr>
        <th>Sala</th>
        <th>Solicita</th>
        <th>Horario</th>
        <th>Razon</th>
        <th>Fecha inicio</th>
        <th>Fecha fin</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let request of filteredRequest
            | slice : (currentPage - 1) * pageSize : currentPage * pageSize
        "
      >
        <td>{{ request.room?.name }}</td>
        <td>{{ request.users?.name }} {{ request.users?.last_name }}</td>
        <td>{{ request.start_date }}-{{ request.end_date }}</td>
        <td>{{ request.reason }}</td>
        <td>{{ request.start_date_recurrent }}</td>
        <td>{{ request.end_date_recurrent }}</td>
        
        <td class="flex items-center">
          <button
            class="btn btn-success m-1 flex items-center text-white"
            (click)="accept(request)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-check2-fill"
              viewBox="0 0 16 16"
            >
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>
            <span class="ml-2">Aceptar</span>
          </button>
          <button
            class="btn btn-danger m-1 flex items-center text-white"
            (click)="rejected(request)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash3-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"
              />
            </svg>
            <span class="ml-2">Rechazar</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination
    [collectionSize]="filteredRequest.length"
    [(page)]="currentPage"
    [pageSize]="pageSize"
    (pageChange)="onPageChange($event)"
    aria-label="Default pagination"
  ></ngb-pagination>
</div>
