<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">Calendario Semanal</h1>

  <div class="grid grid-cols-8 gap-2 bg-gray-200 p-2 mb-4">
      <div class="col-span-1"></div> 
      <div class="col-span-1">Lunes</div>
      <div class="col-span-1">Martes</div>
      <div class="col-span-1">Miércoles</div>
      <div class="col-span-1">Jueves</div>
      <div class="col-span-1">Viernes</div>
      <div class="col-span-1">Sábado</div>
      <div class="col-span-1">Domingo</div>
  </div>

  <!-- Horas -->
  <div class="grid grid-cols-1 gap-2">
      <div class="text-right pr-2">6 AM</div>
      <div class="text-right pr-2">7 AM</div>
      <div class="text-right pr-2">8 AM</div>
      <div class="text-right pr-2">9 AM</div>
      <div class="text-right pr-2">10 AM</div>
      <div class="text-right pr-2">11 AM</div>
      <div class="text-right pr-2">12 PM</div>
      <div class="text-right pr-2">1 PM</div>
      <div class="text-right pr-2">2 PM</div>
      <div class="text-right pr-2">3 PM</div>
      <div class="text-right pr-2">4 PM</div>
      <div class="text-right pr-2">5 PM</div>
      <div class="text-right pr-2">6 PM</div>
      <div class="text-right pr-2">7 PM</div>
      <div class="text-right pr-2">8 PM</div>
      <div class="text-right pr-2">9 PM</div>
      <div class="text-right pr-2">10 PM</div>
  </div>

  <!-- Contenido de celdas -->
  <div class="grid grid-cols-8 gap-2">
      <!-- Columnas de días 
      <ng-container *ngFor="let day of days; let i = index">
          <div class="col-span-1 bg-white border border-gray-300 p-2">
              <div *ngFor="let event of events[i]" class="event" [style.top.px]="event.top" [style.height.px]="event.height">
                  {{ event.name }}
              </div>
          </div>
      </ng-container>-->
  </div>
</div>