/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default styles for larger screens */
.fc-header-toolbar {
  display: flex;
  justify-content: space-between;
}

.fc-toolbar-chunk {
  display: flex;
  align-items: center;
}

.fc-button-group {
  margin-right: 10px;
}

.fc-toolbar-title {
  margin: 0;
}

.fc-button-group button,
.fc-today-button {
  font-size: 14px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .fc-header-toolbar {
    flex-direction: column;
  }

  .fc-toolbar-chunk {
    margin-bottom: 10px;
  }

  .fc-button-group {
    margin: 0;
  }

  .fc-button-group button,
  .fc-today-button {
    font-size: 12px;
  }
}

.fc .fc-button-primary,
.fc .fc-button-primary:disabled {
  background-color: #2563eb;
  border-color: #2563eb;
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:hover {
  background-color: #1e48a5;
  border-color: #1e48a5;
}

.fc-event:hover .fc-event-main:hover {
  cursor: pointer;
}
