<footer class="bg-blue-800 py-6 text-white">
  <div class="container mx-auto flex flex-col lg:flex-row items-center justify-between px-4">
    <div class="flex items-center mb-4 lg:mb-0">
      <img src="../../../../../assets/images/logo.png" alt="logo-ct" class="w-16" />
      <span class="ml-2 text-2xl font-semibold text-shadow-lg">Universidad de Caldas</span>
    </div>

    <div class="flex space-x-4">
      <a href="#" class="hover:underline">Opción 1</a>
      <a href="#" class="hover:underline">Opción 2</a>
      <a href="#" class="hover:underline">Opción 3</a>
      <a href="#" class="hover:underline">Opción 4</a>
    </div>
  </div>
</footer>