<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Editar Aula</h5>
    <button
      type="button"
      class="close"
      (click)="closedModal()"
      data-dismiss="modal"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="form-group row my-2">
        <label for="nombreSala" class="col-sm-4 col-form-label"
          >Nombre Aula:</label
        >
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="nombreSala"
            placeholder="Ingrese el nombre del aula"
            formControlName="name"
          />
        </div>
      </div>
      <div class="form-group row my-2">
        <label for="nombreSala" class="col-sm-4 col-form-label"
          >Sillas disponibles:</label
        >
        <div class="col-sm-8">
          <input
            type="number"
            class="form-control"
            id="nombreSala"
            placeholder="Ingrese la cantidad de sillas disponibles"
            formControlName="available_seats"
          />
        </div>
      </div>
      <div class="form-group row my-2">
        <label for="nombreSala" class="col-sm-4 col-form-label"
          >Computadores Funcionales:</label
        >
        <div class="col-sm-8">
          <input
            type="number"
            class="form-control"
            id="nombreSala"
            placeholder="Ingrese la cantidad de Computadores Funcionales"
            formControlName="functional_computers"
          />
        </div>
      </div>
      <div class="form-group row my-2">
        <label for="nombreSala" class="col-sm-4 col-form-label"
          >Total Computadores:</label
        >
        <div class="col-sm-8">
          <input
            type="number"
            class="form-control"
            id="nombreSala"
            placeholder="Ingrese la cantidad Total de Computadores"
            formControlName="total_computers"
          />
        </div>
      </div>
      <div class="form-group row my-2">
        <label for="tv" class="col-sm-4 col-form-label">TV:</label>
        <div class="col-sm-8">
          <label class="form-check-label m-2">
            <input
              type="radio"
              class="form-check-input"
              [value]="true"
              formControlName="tv"
            />
            Sí
          </label>
          <label class="form-check-label m-2">
            <input
              type="radio"
              class="form-check-input"
              [value]="false"
              formControlName="tv"
            />
            No
          </label>
        </div>
      </div>
      <div class="form-group row my-2">
        <label for="videoBeam" class="col-sm-4 col-form-label"
          >VideoBeam:</label
        >
        <div class="col-sm-8">
          <label class="form-check-label m-2">
            <input
              type="radio"
              class="form-check-input"
              [value]="true"
              formControlName="videoBeam"
            />
            Sí
          </label>
          <label class="form-check-label m-2">
            <input
              type="radio"
              class="form-check-input"
              [value]="false"
              formControlName="videoBeam"
            />
            No
          </label>
        </div>
      </div>
      <div class="form-group row my-2">
        <label for="nombreSala" class="col-sm-4 col-form-label"
          >Descripción:</label
        >
        <div class="col-sm-8">
          <textarea
            class="form-control cursor-text"
            id="descripcion"
            placeholder="Ingrese la descripción del aula"
            formControlName="description"
            rows="4"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-secondary"
      (click)="closedModal()"
      data-dismiss="modal"
    >
      Cerrar
    </button>
    <button class="btn btn-primary" (click)="edit()">Actualizar Sala</button>
  </div>
</div>
